/* APLICO GRIDS EN TODO EL DIV, PADRE DE HEADER MAIN FOOTER */
.grid{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
} 
#fondo{background-color: #E6DAEC;}
header{grid-area:header;padding:20px 0;}
main{grid-area:main;}
footer{grid-area:footer;padding: 50px 0;}
/* listo */

.flexbox, ul{display:flex; font-size: 15px;} /* DEFINO QUE SEA UN FLEXBOX */

.img{width:60%;}
#headerLogo{
	padding: 15px;
    bottom: 0px;
    margin: 10px;
    text-align: left;
    background-color: #b8acd1;
}
a{text-decoration: none;padding:10px;}
#navUl {
    display: flex;
    flex-direction: row;
    background-color: #b8acd1;
	position:sticky;
    font-weight: bold;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    margin: 10px;
}
nav li{
    list-style-type: none;
    padding: 20px;
    display: inline-block;
    width: 15%;
    position:relative;
    font-size: 15px;
    font-family: 'IBM Plex Mono', monospace;
    flex-wrap: wrap;
    background-color: #b8acd1;
}
p{font-size: 25px;font-family: 'IBM Plex Mono', monospace;color: #467aa7;font-weight: bold;}

h1 {
    font-family: 'IBM Plex Mono', monospace; 
    font-size: 30px; 
    background-image: url("../img/header2.jpeg"); 
    padding: 190px; font-size: 30px;
    text-align: right;
    flex-wrap: wrap;
}
h2{font-family: 'IBM Plex Mono', monospace; font-size: 25px;}
h3, h4{font-family: 'IBM Plex Mono', monospace;font-size: 20px;}
.divP{
    color:black;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    
}

.footerNav{bottom: 30px;left: 400px;font-family: 'IBM Plex Mono', monospace;}
footer nav ul{text-align: center;bottom: 0px;left: 0px;font-family: 'IBM Plex Mono', monospace;}
footer nav li{display: inline-block; width: 15%;position:static; font-size: 20px;}
footer div h3{font-family: 'IBM Plex Mono', monospace;font-style: bold;text-align: center;background-color: #c9e8fd; position:fixed;bottom:5px;left:10px;} 

/* INTERVALO MOBILE */
@media screen and (max-width:768px){
    .imgEncabezado{display: none;}
    .flex{justify-content: center;}
    ul{flex-wrap: wrap;}
    a{font-size:1.3rem;}
}

/* INTERVALO DESKTOP */
@media screen and (min-width:1024px) {
    nav{display: flex;
        width: 100%;
        justify-content: flex-end;}
    a{font-size:2rem;}
    h2{font-size:2.3rem;text-align: center;}
    .m-grid{
        display:grid;
        grid-template-areas:
        "imgEncabezado imgEncabezado"
        "titulo titulo"
        "textoTitulo textoTitulo"
        "imgTexto textoImagen";
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
    }
    .img{grid-area:imgEncabezado;}
    .titulo{grid-area:titulo;}
    
}






/*                ESTILOS DE BODY
#fondo{
    background-color: #E6DAEC;
}
#bodyNav {
	background-color: #b8acd1;
	position:sticky;
	top: 0px;
    font-weight: bold;
    font-family: 'IBM Plex Mono', monospace;
    text-align: right;
    
}
#headerLogo{
	padding: 10px;
    bottom: 0px;
    text-align: left;
    background-color: #b8acd1;
}
 li {
    display: inline-block;
    width: 15%;
    position:relative;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
}
 ul ul {
    position: relative;
    display: none;
    font-family: 'IBM Plex Mono', monospace;
}
 ul ul li {
    display: flex;
    width: 200px;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
}
 ul ul li a {color: #4e4466}
 ul li:hover ul {
    position: absolute;
    display: block;
    background-color: #b8acd1 ;
    font-family: 'IBM Plex Mono', monospace;
 }

 /*                   ESTILOS DE MAIN

 div h1 {
    color: black;
    font-style: oblique;
    text-align: right;
    background-image: url("../img/header2.jpeg");
    padding: 190px;
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
 }
 div h2{
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    background-color:#c9e8fd ;
    font-size: 25px;
 }
#pDiv{
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
    color: #526d85;
    font-weight: bold;
    
}
.pDiv2{
    color:black;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}
div h4{
    color:#526d85;
    font-size: 20px;
    text-align: left;
}
#pDiv3{
    color:#526d85;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 19px;
}

#formContacto{
    background-image: url("../img/contacto.jpg");
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
}

                 ESTILOS DE FOOTER
.footerNav {
	position: relative;
	bottom: 30px;
	left: 400px;
    font-family: 'IBM Plex Mono', monospace;
}
footer nav ul {
	text-align: center;
	bottom: 0px;
	left: 0px;
    font-family: 'IBM Plex Mono', monospace;
}
footer nav li {
    display: inline-block;
    width: 15%;
    position:static;
    font-size: 20px;
}
footer div h3{
    font-family: 'IBM Plex Mono', monospace;
    font-style: bold;
    text-align: center;
    background-color: #c9e8fd;
    position:fixed;
    bottom:5px;
    left:10px;
}*/